@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
input,
button {
    font-family: 'Inter', sans-serif;
}

html, 
body {
    height: 100%;
    background-color: #306c8e;
}

body {
    display: flex;
    flex-direction: column;
}

/* Main */

.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 720px;
    margin: 0 auto;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 56px 8px 0px;
}

.content__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: 1.5%;
}

.content__logo {
    margin-top: 150px;
    height: 46px;
}

.content__logo.resultado {
    display: flex;
    margin: 0 auto;
    margin-top: 0;
    height: 35px;
}

.content__search {
    display: flex;
    margin-top: 18px;
}

.content__search.resultado {
    margin-top: 0;
}

.content__search input {
    position: relative;
    left: 2%;
    color: rgb(255, 255, 255);
    padding: 7px 10px 6px 20px;
    width: 720px;
    height: 60px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    border: 1.5px solid #ffffff;
    outline: none;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.content__search input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.content__search button {
    position: relative;
    left: -5%;
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
}

.content__result {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.content__result span {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    width: 720px;
    padding: 15px;
    border-radius: 5px;
}

.title {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 5px;
}

.content__section.ads {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content__ads.title {
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.content__ads.elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.content__ads.elements div {
    height: 150px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: all 300ms;
}

.content__ads.elements div:hover {
    transform: scale(1.1);
}

/* Footer */

.footer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
}

.footer__section:not(:first-child) {
    border-top: 1px solid #e4e4e4;
}

.footer__phrase {
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    padding: 14px;
}

.footer__section.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 14px;
}

/* Media Query */

@media (min-width: 765px) {
    .content{
        padding-top: 120px;
    }

    .content__logo {
        height: 100px;
    }
}